# House Price Prediction — Correlations
# Installations: pip install -r requirements.txt

# Data and ML
pandas==2.1.4
numpy==1.26.4
scikit-learn==1.4.2
xgboost==2.0.3
lightgbm==4.3.0
optuna==3.6.1
scipy==1.13.0
joblib==1.4.0

# SHAP explanation
shap==0.45.0

# Web-app
streamlit==1.35.0

# visualization
matplotlib==3.8.4
seaborn==0.13.2

# Jupyter
jupyter==1.0.0
ipykernel==6.29.4
